#first{
    height: 100px;
    width: 100px;

    border: 2px solid black;
    text-align: center;
}

#second{
    height: 100px;
    width: 100px;
    
    border: 2px solid black;
    text-align: center;
}

